.DS_Store
*.kicad_prl
/KiCad/BIT90_Original/BIT90_Original-backups
KiCad/BIT90_Original/\#auto_saved_files\#
*.lck
*.pages
/KiCad/BIT90_26_Recreation/BIT90_26-backups
KiCad/BIT90_26_Recreation/fp-info-cache
/Documents/Schematic_References/ColecoVision_KiCad_Schematics
